body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box}

/* Full-width input fields */
input[type=text], input[type=number] ,input[type=password]{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus,input[type=number]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
.container {
  border: solid dodgerblue 2px;
  border-radius: 10%;
  background-color: gray;
  margin-left: 25%;
  margin-right: 25%;
}
div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.Para{
  text-align: center;
}
h2{
  text-align: center;
}
.button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  opacity: 0.8;
}
.feed{
  text-align: center;
  margin-left: 25%;
  background-color: #4CAF50;
  margin-right: 25%;
}
.postimg{
  width: 40%;
}
/* .profilearea{
  width: 5%;
} */
.profileimg{
  width: 10%;
  height: 3%;
  /* border: solid black 2px; */
  border-radius: 50%;
}
.postbutton {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
b{
  margin-top: -30%;
}
.commentbutton {
  background-color: #008CBA;
  padding: 10px 5px;
  
}
textarea {
  max-width: 100%;
}

#img1{
  width: 55%;
}
#Submit_id{
  background-color: #04AA6D;
  color: white;
  padding: 2px 2px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 6%;
}
ul{
  list-style: none;
}
li{
  justify-content: center;
}
ul li {
  padding: 8px 16px;
  background-color: #008CBA;
}

ul li:last-child {
  border-bottom: none
}


